.container {
    position: relative;
    text-align: center;
    color: white;
  }

.carousel {
    right: 0;
    left : 0;
    width: 100% !important;
    opacity: 0.3;
    height: 500px;
}

@media screen and (min-width: 600px) {
.overlay {
    position: absolute ;
    right :0;
    width: 100% ;
    height: 500px ;
    background-color: #001f5b;
    opacity: 0.9;
    display: block ;
  }
}

@media screen and (max-width: 600px) {
  .overlay {
      position: absolute ;
      right :0;
      width: 100% ;
      height: 300px ;
      background-color: #001f5b;
      opacity: 0.9;
      display: block ;
    }
  }

  @media screen and (min-width: 600px) {
    .header-banner {
      font-size: 40px;
      font-weight: bolder;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header-banner {
      font-size: 20px;
      font-weight: bolder;
    }
  }

  @media screen and (min-width: 600px) {
    .body-banner {
      font-size: 20px;
      font-weight: bolder;
    }
  }
  
  @media screen and (max-width: 600px) {
    .body-banner {
      font-size: 10px;
      font-weight: bolder;
    }
  }


  .text {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

.join-button {
  text-align: center;
  background-color: #dd3e27 !important;
  margin: 5px !important;
  font-family: "Helvetica Neue", sans-serif;
}
  
  